<style>
    .edit {
        background-color: #F5A796;
        padding: 20px;
        margin: auto;
        width: 50%;
        border-radius: 10px;
    }

    form {
        text-align: center;
    }
</style>

<div class="edit">
<div class="container">
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.photo, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.photo, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.price, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.type, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.nameFood, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.nameFood, {'attr': {'class': 'form-control'}}) }}
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-danger">{{ button_label|default('Save') }}</button>
        <a href="{{path('app_comment_index')}}"><button type="submit" class="btn btn-danger">Cancel</button></a>
    {{ form_end(form) }}
</div>
</div>