{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ about.id }}</td>
            </tr>
            <tr>
                <th>New_food_plats</th>
                <td>{{ about.newFoodPlats }}</td>
            </tr>
            <tr>
                <th>Phone_number</th>
                <td>{{ about.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Vedio_resto</th>
                <td>{{ about.vedioResto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_about_index') }}">back to list</a>

    <a href="{{ path('app_about_edit', {'id': about.id}) }}">edit</a>

    {{ include('about/_delete_form.html.twig') }}
{% endblock %}
