{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

  
{% block body %}
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{{asset('Yummy/assets/css/style.css')}}">

<form method="post" class="text-left clearfix" >
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">The Wise</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5" >
		      	<div class="icon d-flex align-items-center justify-content-center" >
		      		<span class="fa fa-user-o" ></span>
		      	</div>
		      	<h3 class="text-center mb-4" style="color: var(--red);">Have an account?</h3>
						
		      		<div class="form-group">
		      			<!--<label for="inputEmail">Email</label>-->
                <input type="email" value="{{ last_username }}" placeholder="Email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
		      		</div>
	            <div class="form-group d-flex">
	              <!--<label for="inputPassword">Password</label>      -->         
                <input type="password" name="password" id="inputPassword" placeholder="Password" class="form-control" autocomplete="current-password" required>
	            </div>
              <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
	            		<label class="checkbox-wrap checkbox-primary " style="color: var(--red);">Remember Me
									  <input type="checkbox" style="color: red;" checked>
									  <span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">Don't have an account? 
									<a href="{{path('app_register')}}"
                      style="color: #393f81;">Register here</a></p>
								</div>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="btn btn-danger rounded submit p-3 px-5">Login</button>
	            </div>
	          </form>
	        </div>
				</div>
			</div>
		</div>
	</section>
  <script src="{{asset('Yummy/assets/js/js/jquery.min.js')}}"></script>
  <script src="{{asset('Yummy/assets/js/popper.js')}}"></script>
  <script src="{{asset('Yummy/assets/js/bootstrap.min.js')}}"></script>
  <script src="{{asset('Yummy/assets/js/main2.js')}}"></script>
  {% endblock %}