{% extends 'base.html.twig' %}

{% block title %}The Wise
{% endblock %}

{% block user_email %}
	<li>{{email}}</li>
{% endblock %}

{% block about %}
	{% for about in abouts %}
		{% if is_granted('ROLE_ADMIN')%}
			<center>
				<a href="{{ path('app_about_edit', {'id': about.id}) }}">
					<button type="button" class="btn btn-danger">Edit about</button>
				</a>
			</center>
			<br>
			<br>
			<div class="row gy-4">
				<div class="col-lg-7 position-relative about-img" style="background-image: url(Yummy/assets/img/about.jpg) ;" data-aos="fade-up" data-aos-delay="150">
					<div class="call-us position-absolute">
						<h4>Book a Table</h4>
						<p>+{{about.phoneNumber}}</p>
					</div>
				</div>
				<div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
					<div class="content ps-0 ps-lg-5">
						<p class="fst-italic">
							Welcom to our restaurant here you can find all what you whant and the is some of our principal plats :
						</p>
						<ul>
							<li>
								<i class="bi bi-check2-all"></i>
								{{ about.newFoodPlats }}
							</li>
						</ul>
						<p>
							Hope that you like it.
						</p>

						<div class="position-relative mt-4">
							{% if about.vedioResto == null %}
								<img src="{{asset('Yummy/assets/img/about-2.jpg')}}" class="img-fluid" alt="">
							{% else %}
								<img src="{{asset('Yummy/assets/img/about-2.jpg')}}" class="img-fluid" alt="">
								<a href="{{asset(about.vedioResto)}}" class="glightbox play-btn"></a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<div class="row gy-4">
				<div class="col-lg-7 position-relative about-img" style="background-image: url(Yummy/assets/img/about.jpg) ;" data-aos="fade-up" data-aos-delay="150">
					<div class="call-us position-absolute">
						<h4>Book a Table</h4>
						<p>+{{about.phoneNumber}}</p>
					</div>
				</div>
				<div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
					<div class="content ps-0 ps-lg-5">
						<p class="fst-italic">
							Welcom to our restaurant here you can find all what you whant and the is some of our principal plats :
						</p>
						<ul>
							<li>
								<i class="bi bi-check2-all"></i>
								{{ about.newFoodPlats }}
							</li>
						</ul>
						<p>
							Hope that you like it.
						</p>

						<div class="position-relative mt-4">
							{% if about.vedioResto == null %}
								<img src="{{asset('Yummy/assets/img/about-2.jpg')}}" class="img-fluid" alt="">
							{% else %}
								<img src="{{asset('Yummy/assets/img/about-2.jpg')}}" class="img-fluid" alt="">
								<a href="{{asset(about.vedioResto)}}" class="glightbox play-btn"></a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}


{% block message %}

	{{ include('comment/_form.html.twig') }}

{% endblock %}


{% block countUser %}
	<section id="stats-counter" class="stats-counter" style="text-align: center;">
		<div class="container" data-aos="zoom-out">
			<div class="row gy-4">
				<div class="col-lg-3 col-md-6" style="margin-left: 35%;">
					<div class="stats-item text-center w-100 h-100">
						<span data-purecounter-start="0" data-purecounter-end="{{ users }}" data-purecounter-duration="1" class="purecounter"></span>
						<p>Clients</p>
					</div>
				</div>
				<!-- End Stats Item -->
			</div>
		</div>
	</section>

{% endblock %}

{% block addFoodItem %}
	{% if is_granted('ROLE_ADMIN') %}
		<center>
			<a href="{{ path('app_fooditem_new')}}">
				<button type="button" class="btn btn-danger">Add Food</button>
			</a>
		</center>
		<br>
		<br>
	{% endif %}
{% endblock %}


{% block start %}
    <div class="row gy-5">
        {% for item in fooditemsStart %}
                <div class="col-lg-4 menu-item">
                    <a href="{{ asset('Yummy/assets/img/menu/' ~ item.photo) }}" class="glightbox">
                        <img src="{{ asset('Yummy/assets/img/menu/' ~ item.photo) }}" class="menu-img img-fluid" alt="">
                    </a>
                    <h4>{{ item.nameFood }}</h4>
                    <p class="ingredients">{{ item.description }}</p>
                    <p class="price">{{ item.price }}$</p>
                    {% if is_granted('ROLE_ADMIN') %}
                        <form method="post" action="{{ path('app_fooditem_delete', {'id': item.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
                            <button class="btn btn-danger" >Delete</button>
                            <a href="{{ path('app_fooditem_edit', {'id': item.id}) }}">
                                <button type="button" class="btn btn-danger">Edit</button>
                            </a>
                        </form>
                    {% endif %}
                </div>
        {% endfor %}
    </div>
{% endblock %}



{% block breakfast %}
	<div class="row gy-5">
		{% for item in itemBreakfast %}
			<div class="col-lg-4 menu-item">
				<a href="{{asset('Yummy/assets/img/menu/' ~ item.photo)}}" class="glightbox"><img src="{{asset('Yummy/assets/img/menu/' ~ item.photo)}}" class="menu-img img-fluid" alt=""></a>
				<h4>{{item.nameFood}}</h4>
				<p class="ingredients">{{item.description}}</p>
				<p class="price">{{item.price}}$</p>
				{% if is_granted('ROLE_ADMIN') %}
					<form method="post" action="{{ path('app_fooditem_delete', {'id': item.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
    					<button class="btn btn-danger" >Delete</button>
						<a href="{{ path('app_fooditem_edit', {'id': item.id}) }}">
						<button type="button" class="btn btn-danger">Edit</button>
					</a>
					</form>
				{% endif %}
			</div>
		{% endfor %}
		<!-- Menu Item -->
	</div>

{% endblock %}

{% block lunch %}
	<div class="row gy-5">
		{% for item in itemLunch %}
			<div class="col-lg-4 menu-item">
				<a href="{{asset('Yummy/assets/img/menu/' ~ item.photo)}}" class="glightbox"><img src="{{asset('Yummy/assets/img/menu/' ~ item.photo)}}" class="menu-img img-fluid" alt=""></a>
				<h4>{{item.nameFood}}</h4>
				<p class="ingredients">{{item.description}}</p>
				<p class="price">{{item.price}}$</p>
				{% if is_granted('ROLE_ADMIN') %}
					<form method="post" action="{{ path('app_fooditem_delete', {'id': item.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
    					<button class="btn btn-danger" >Delete</button>
						<a href="{{ path('app_fooditem_edit', {'id': item.id}) }}">
						<button type="button" class="btn btn-danger">Edit</button>
					</a>
					</form>
				{% endif %}
			</div>
		{% endfor %}
		<!-- Menu Item -->
	</div>

{% endblock %}

{% block dinner %}
	<div class="row gy-5">
		{% for item in itemDinner %}
			<div class="col-lg-4 menu-item">
				<a href="{{asset('Yummy/assets/img/menu/' ~ item.photo)}}" class="glightbox"><img src="{{asset('Yummy/assets/img/menu/' ~ item.photo)}}" class="menu-img img-fluid" alt=""></a>
				<h4>{{item.nameFood}}</h4>
				<p class="ingredients">{{item.description}}</p>
				<p class="price">{{item.price}}$</p>
				{% if is_granted('ROLE_ADMIN') %}
					<form method="post" action="{{ path('app_fooditem_delete', {'id': item.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
    					<button class="btn btn-danger" >Delete</button>
						<a href="{{ path('app_fooditem_edit', {'id': item.id}) }}">
						<button type="button" class="btn btn-danger">Edit</button>
					</a>
					</form>
				{% endif %}
			</div>
		{% endfor %}
		<!-- Menu Item -->
	</div>

{% endblock %}

{% block command %}
    <div class="Command">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-20">
                    {{ form_start(form2) }}
                    <div class="form-group">
                        {{ form_label(form2.nb_people, null, {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form2.nb_people, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form2.date, null, {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form2.date, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form2.message, null, {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form2.message, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form2.time, null, {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form2.time, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <br>
                    <br>
                    <center>
					{% if app.user %}
                        <button type="submit" class="btn btn-danger">{{ button_label|default('Command') }}</button>
                    {% else %}
                        <div class="text-center">
                            <a href="{{ path('app_login') }}">
                                <button class="btn btn-danger" type="submit">Book a Table</button>
                            </a>
                        </div>
                    {% endif %}
					</center>
                    {{ form_end(form2) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block comment %}
	<div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
		<div class="swiper-wrapper">
			{% for c in comments %}
				<div class="swiper-slide">

					<div class="testimonial-item">
						<div class="row gy-4 justify-content-center">
							<div class="col-lg-6">
								<div class="testimonial-content">
									<p>
										<i class="bi bi-quote quote-icon-left"></i>
										{{ c.message }}
										<i class="bi bi-quote quote-icon-right"></i>
									</p>
									<h5>{{ c.email }}</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="swiper-pagination"></div>
	</div>
{% endblock %}
