{% extends 'base.html.twig' %}

{% block title %}The Wise
{% endblock %}

{% block message %}

	{{ include('comment/_form.html.twig') }}

{% endblock %}


{% block countUser %}
			<section id="stats-counter" class="stats-counter" style="text-align: center;">
    <div class="container" data-aos="zoom-out">
        <div class="row gy-4">
            <div class="col-lg-3 col-md-6" style="margin-left: 35%;">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="{{ users }}" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Clients</p>
                </div>
            </div>
            <!-- End Stats Item -->
        </div>
    </div>
</section>

			{% endblock %}


{% block start %}
	<div class="row gy-5">
		{% for item in itemStart %}
			<div class="col-lg-4 menu-item">
				<a href="{{asset('Yummy/assets/img/menu/' ~ item.photo)}}" class="glightbox"><img src="{{asset('Yummy/assets/img/menu/' ~ item.photo)}}" class="menu-img img-fluid" alt=""></a>
				<h4>{{item.name_food}}</h4>
				<p class="ingredients">{{item.description}}</p>
				<p class="price">{{item.price}}$</p>
			</div>
		{% endfor %}
		<!-- Menu Item -->
	</div>

{% endblock %}

{% block breakfast %}
	<div class="row gy-5">
		{% for item in itemBreakfast %}
			<div class="col-lg-4 menu-item">
				<a href="{{asset('Yummy/assets/img/menu/' ~ item.photo)}}" class="glightbox"><img src="{{asset('Yummy/assets/img/menu/' ~ item.photo)}}" class="menu-img img-fluid" alt=""></a>
				<h4>{{item.name_food}}</h4>
				<p class="ingredients">{{item.description}}</p>
				<p class="price">{{item.price}}$</p>
			</div>
		{% endfor %}
		<!-- Menu Item -->
	</div>

{% endblock %}

{% block lunch %}
	<div class="row gy-5">
		{% for item in itemLunch %}
			<div class="col-lg-4 menu-item">
				<a href="{{asset('Yummy/assets/img/menu/' ~ item.photo)}}" class="glightbox"><img src="{{asset('Yummy/assets/img/menu/' ~ item.photo)}}" class="menu-img img-fluid" alt=""></a>
				<h4>{{item.name_food}}</h4>
				<p class="ingredients">{{item.description}}</p>
				<p class="price">{{item.price}}$</p>
			</div>
		{% endfor %}
		<!-- Menu Item -->
	</div>

{% endblock %}

{% block dinner %}
	<div class="row gy-5">
		{% for item in itemDinner %}
			<div class="col-lg-4 menu-item">
				<a href="{{asset('Yummy/assets/img/menu/' ~ item.photo)}}" class="glightbox"><img src="{{asset('Yummy/assets/img/menu/' ~ item.photo)}}" class="menu-img img-fluid" alt=""></a>
				<h4>{{item.name_food}}</h4>
				<p class="ingredients">{{item.description}}</p>
				<p class="price">{{item.price}}$</p>
			</div>
		{% endfor %}
		<!-- Menu Item -->
	</div>

{% endblock %}

{% block comment %}
		<div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
			<div class="swiper-wrapper">
			{% for c in comments %}
				<div class="swiper-slide">
				
					<div class="testimonial-item">
						<div class="row gy-4 justify-content-center">
							<div class="col-lg-6">
								<div class="testimonial-content">
									<p>
										<i class="bi bi-quote quote-icon-left"></i>
										{{ c.message }}
										<i class="bi bi-quote quote-icon-right"></i>
									</p>
									<h5>{{ c.email }}</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
			<div class="swiper-pagination"></div>
		</div>
{% endblock %}
