{{ form_start(form) }}
    {{ form_widget(form) }}
    {% if app.user %}
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% else %}
	<div class="alert alert-danger" role="alert">
		You must be logged in to send a Command.
		<a href="{{path('app_login')}}">Login<a/>
	</div>