{% extends 'base.html.twig' %}

{% block title %}Command index{% endblock %}

{% block body %}
    <h1>Command index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nb_people</th>
                <th>Message</th>
                <th>Nb_table</th>
                <th>Date</th>
                <th>Time</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for command in commands %}
            <tr>
                <td>{{ command.id }}</td>
                <td>{{ command.nbPeople }}</td>
                <td>{{ command.message }}</td>
                <td>{{ command.nbTable }}</td>
                <td>{{ command.date ? command.date|date('Y-m-d') : '' }}</td>
                <td>{{ command.time ? command.time|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_command_show', {'id': command.id}) }}">show</a>
                    <a href="{{ path('app_command_edit', {'id': command.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_command_new') }}">Create new</a>
{% endblock %}
